[client]
default-character-set=utf8
[mysql]
default-character-set=utf8
[mysqld]
collation-server=utf8_unicode_ci
character-set-server=utf8
init-connect='SET NAMES utf8'
log-bin=mysql-bin
server_id=1
binlog_format=ROW
gtid_mode=ON
enforce-gtid-consistency=true
query_cache_type=1
query_cache_size=20M
query_cache_limit=512k
