[client]
default-character-set=utf8
[mysql]
default-character-set=utf8
[mysqld]
collation-server=utf8_unicode_ci
character-set-server=utf8
init-connect='SET NAMES utf8'
server_id=2
binlog_format=ROW
gtid_mode=ON
enforce-gtid-consistency=true
read_only=ON
relay_log_info_repository=TABLE
sync_relay_log_info=1
